In [1]:
!pip install opencv-python
!pip install pytesseract
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opencv-python in c:\users\khadi\appdata\roaming\python\python39\site-packages (4.8.0.74)
Requirement already satisfied: numpy>=1.19.3 in c:\users\khadi\appdata\roaming\python\python39\site-packages (from opencv-python) (1.23.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pytesseract in c:\users\khadi\appdata\roaming\python\python39\site-packages (0.3.10)
Requirement already satisfied: Pillow>=8.0.0 in c:\programdata\anaconda3\lib\site-packages (from pytesseract) (9.2.0)
Requirement already satisfied: packaging>=21.3 in c:\programdata\anaconda3\lib\site-packages (from pytesseract) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=21.3->pytesseract) (3.0.9)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\khadi\appdata\roaming\python\python39\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\khadi\appdata\roaming\python\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\khadi\appdata\roaming\python\python39\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\khadi\appdata\roaming\python\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install tesseract

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tesseract in c:\users\khadi\appdata\roaming\python\python39\site-packages (0.1.3)

In [81]:
import cv2
import pytesseract
import pandas as pd
import os
import matplotlib.pyplot as plt

In [82]:
pytesseract.pytesseract.tesseract_cmd = r"C:\\Users\Khadi\\OneDrive\\computervision\\tesseract.exe"

In [83]:
img=cv2.imread(r'Image.jpg')

In [84]:
cv2.imshow("window", img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [85]:
img.shape

(360, 600, 3)

In [87]:
def extract_text_from_image(img):
    pytesseract.pytesseract.tesseract_cmd = r"C:\\Users\Khadi\\OneDrive\\computervision\\tesseract.exe"
    text = pytesseract.image_to_string(img)
    return text
extract_text_from_image(img)

'STUDENT\n\nStudies at\nINTERNATIONAL UNIVERSITY\n\nName\nJOHN DOE\n\nBorn\n08/03/2000\n\n \n\n012 345 678 9\n\x0c'

In [95]:
def preprocess(image_path):
    img = cv2.imread(image_path)
    
    if img is None:
        print(f"Error loading the image from {image_path}. Please check the path and try again.")
        return None
    
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    h = img.shape[0]
    w = img.shape[1]
    resized = cv2.resize(img, (w*5, h*5), interpolation=cv2.INTER_LINEAR)
    return resized
preprocess('Image.jpg')

array([[[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       ...,

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]]], dtype=uint8)

In [93]:
def get_df(image_path):
    if not os.path.exists(image_path):
        print(f"The file {image_path} does not exist.")
        return

    img = preprocess(image_path)
    if img is None:
        print(f"The file {image_path} could not be read.")
        return

    text = extract_text_from_image(img)
    lines = text.split('\n')

    # Create DataFrame with lines as rows
    df = pd.DataFrame(lines, columns=['Text'])
    return df
get_df('Image.jpg')

                        Text
0                    STUDENT
1
2                 Studies at
3   INTERNATIONAL UNIVERSITY
4
5                       Name
6                   JOHN DOE
7
8                       Born
9
10                08/03/2000
11
12
13
14             012 345 678 9
15

In [98]:
def main():
    image_path = input("Please enter the path of your image file: ")

    # Extract text from image
    text = extract_text_from_image(preprocess(image_path))
    print("\nExtracted Text:")
    print(text)

    # Get DataFrame
    df = get_df(image_path)
    if df is not None:
        print("\nExtracted Data in Table Format:")
        
        print(df)

if __name__ == "__main__":
    main()

Please enter the path of your image file: Image.jpg

Extracted Text:
STUDENT

Studies at
INTERNATIONAL UNIVERSITY

Name
JOHN DOE

Born

08/03/2000



012 345 678 9


Extracted Data in Table Format:
                        Text
0                    STUDENT
1
2                 Studies at
3   INTERNATIONAL UNIVERSITY
4
5                       Name
6                   JOHN DOE
7
8                       Born
9
10                08/03/2000
11
12
13
14             012 345 678 9
15